* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
@font-face {
  font-family: eletronicFont;
  src: url(../font/DS-DIGIT.TTF);
}
body {
  background: url(../images/bg2.png) no-repeat top center;
  line-height: 1.15;
}
header {
  position: relative;
  height: 1rem;
  background: url(../images/head_bg.png);
  background-size: 100% 100%;
}
header h1 {
  position: absolute;
  left: 9.5rem;
  font-size: 0.478rem;
  color: black;
  text-align: center;
  line-height: 1rem;
}
header .goHome {
  position: absolute;
  left: 0.1rem;
  top: 0;
  line-height: 0.9375rem;
  font-size: 0.4rem;
}
header .showInfo {
  position: absolute;
  right: 1rem;
  top: 0;
  line-height: 0.9375rem;
  color: black;
  font-size: 0.25rem;
}
footer {
  width: 100%;
  height: 0.75rem;
  position: absolute;
  top: 850px;
  background: rgba(126, 126, 112, 0.7);
}
footer p {
  color: black;
  text-align: center;
  font-size: 0.3rem;
}
footer a {
  color: black;
}
.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.125rem 0.125rem 0;
}
.mainbox .column {
  flex: 3;
}
.mainbox .column:nth-child(2) {
  flex: 5;
  margin: 0 0.125rem 0.1875rem;
}
.mainbox .panel {
  position: relative;
  height: 4rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: url(../images/line.png) rgba(0, 0, 0, 0.1);
  padding: 0 0.1875rem 0.5rem;
  margin-bottom: 0.1875rem;
}
.mainbox .panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  content: "";
}
.mainbox .panel::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  content: "";
}
.mainbox .panel .panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .panel .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  content: "";
}
.mainbox .panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  content: "";
}
.mainbox .panel h2 {
  height: 0.6rem;
  color: black;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: 400;
}
.mainbox .panel .chart {
  top: 5px;
  height: 3.75rem;
  background: rgba(0, 0, 0, 0.07);
}
.numObject {
  background: rgba(101, 132, 226, 0.1);
  padding: 0.1875rem;
}
.numObject .noHd {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.numObject .noHd::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 30px;
  height: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
.numObject .noHd::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.numObject .noHd ul {
  display: flex;
}
.numObject .noHd ul li {
  position: relative;
  flex: 1;
  line-height: 1rem;
  font-size: 0.875rem;
  color: black;
  text-align: center;
  font-family: 'eletronicFont';
}
.numObject .noHd ul li:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 25%;
  right: 0;
  height: 50%;
  width: 1px;
  background: rgba(0, 0, 0, 0.5);
}
.numObject .noBd ul {
  display: flex;
}
.numObject .noBd ul li {
  flex: 1;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.225rem;
  height: 0.5rem;
  line-height: 0.5rem;
  padding-top: 0.125rem;
}
.mapObject {
  overflow: hidden;
  position: relative;
  height: 10.125rem;
}
.mapObject .map1 {
  width: 6.475rem;
  height: 6.475rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/map1.png);
  background-size: 100% 100%;
  opacity: 0.3;
}
.mapObject .map2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8.0375rem;
  height: 8.0375rem;
  background: url(../images/map2.png);
  background-size: 100% 100%;
  animation: rotate1 15s linear infinite;
  opacity: 0.6;
}
.mapObject .map3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.075rem;
  height: 7.075rem;
  background: url(../images/map3.png);
  background-size: 100% 100%;
  animation: rotate2 10s linear infinite;
  opacity: 0.6;
}
@keyframes rotate1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
.mapObject .chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 11.25rem;
  height: 10.125rem;
}
